@import url("https://fonts.googleapis.com/css2?family=Catamaran&family=Lato:wght@300&family=Poppins&family=Roboto:wght@500&family=Space+Grotesk&family=Ubuntu:wght@300&display=swap");

:root {
  --color: #f42c04;
  --bgcolor: rgba(98, 95, 95, 0.7);
}
* {
  box-sizing: border-box;
  font-family: Space grotesk;
  text-align: center;
}

.container {
  width: 100vw;
  height: 100vh;
}

strong {
  color: var(--color);
}

.container,
.logo {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  overflow: hidden;
}
.logo {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  position: relative;
  height: auto;
  background-color: var(--bgcolor);
  top: 30%;
  text-align: center;
}

.picture {
  background-image: url("https://images.pexels.com/photos/3094799/pexels-photo-3094799.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  width: 40vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.right-side {
  width: 60vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  color: white;
}

form {
  display: flex;
  background-color: rgb(6, 6, 6);
  box-shadow: 0 10px 20px -2px rgb(22, 22, 22);
  flex-flow: row wrap;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  color: white;
  background-color: black;
}
.input {
  display: flex;
  flex-flow: column wrap;
  width: 40%;
  font-size: 0.7rem;
  text-transform: uppercase;
  opacity: 50%;
}
input {
  background-color: rgb(2, 2, 2);
  border: 1px solid rgb(133, 133, 133);
  border-radius: 3px;
  padding: 3px;
  color: rgb(254, 254, 254);
}
form {
  margin-left: 40px;
}
.input .option {
  width: 30%;
  margin-left: 10%;
}

input:focus {
  outline: none;
  border: 3px solid var(--color);
}

.caption {
  font-size: 1.6rem;
  width: 90%;
  margin-left: 6%;
  text-align: center;
}

.remote-text {
  font-size: 1.8rem;
}

button {
  background-color: rgba(0, 0, 0, 0);
  color: var(--color);
  font-weight: 700;
  font-size: 1.2em;
  border: 2px solid var(--color);
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 70px;
  margin-bottom: 50px;
  width: clamp(100px, 10vw, 200px);
  justify-content: center;
  text-align: center;
}

button:hover {
  background-color: var(--color);
  color: black;
  transform: scale(0.97);
}

a {
  text-decoration: none;
  color: var(--color);
  font-weight: 700;
}

a:hover {
  color: white;
}
.Already {
  font-size: 1.2rem;
}
